name: Run Unit Tests

on:
  push:
    branches: [ master ]
    paths:
      - "tests/**"
      - "app/**"

  pull_request:
    branches: [ master ]
    paths:
      - "tests/**"
      - "app/**"

jobs:
  tests:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Set up Python 3.12
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"
          cache: "pip"

      - name: Install test dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r tests/test_requirements.txt

      - name: Run unit tests
        run: |
          python -m unittest discover -s tests -p "*_test.py"
